* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-x: hidden;
}

.main-container {
	min-height: calc(100vh - 136px);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "text-box""image-box";
	row-gap: 50px;
	column-gap: 50px;
}

@media screen and (min-width:850px) {
	.main-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "text-box image-box";
	}
}

.image-box {
	grid-area: image-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-box img {
	width: 70%;
	max-width: 450px;
}

.text-box {
    width: 120%;
	grid-area: text-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 60px;
}

.card {
	width: 100%;
}

.card p {
	color: #000000;
	font-size: 30px;
	margin-bottom: 10px;
}

.card input {
	margin-bottom: 40px;
	height: 35px;
}

.warning {
	position: relative;
	margin-top: -37px;
}

