* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-x: hidden;
}

h1 {
	font-size: 22px;
	text-align: center;
	padding: 15px 25px;
	border-radius: 20px;
}

.ques-box {
	width: 100%;
	max-width: 800px;
	padding: 15px 25px;
	margin: 50px auto 0 auto;
	border-radius: 20px;
}

.option {
	display: flex;
	flex-direction: row;
}

.title {
	font-size: 22px;
	font-weight: 500;
	color: black;
}

.option p {
	margin-left: 15px;
	position: relative;
	margin-top: -6px;
}

footer {
	height: 80px;
	text-align: center;
	line-height: 80px;
}